<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Histórico</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="sidebar">
        <div class="user-info">
          <img src="" alt="Avatar do Usuário">
          <span>Psicologa</span><br><br>
        </div>
        <ul>
          <li><a href=""><h2>Início</h2></a></li><br>
          <li><a href="#"><h2>Horários</h2></a></li><br>
          <li><a href="#"><h2>Histórico</h2></a></li><br>
        </ul>
      </div>
      <div class="main-content">
      <header class="header2">
        <h1>Histórico</h1>
      </header>
<br>
    <div class="history-list">
      <!-- Exemplo de item do histórico -->
      <div class="history-item">
        <img src="caminho_da_imagem.jpg" alt="Foto do Aluno" class="student-img">
        <div class="history-details">
          <p>Nome do Aluno 2</p>
          <p>Data: 02/12/2023</p>
          <p>Hora: 14:00</p>
          <p>Presença: Não</p>
        </div>
      </div>

      <!-- Adicione mais itens conforme necessário -->
      <div class="history-item">
        <img src="caminho_da_imagem.jpg" alt="Foto do Aluno" class="student-img">
        <div class="history-details">
          <p>Nome do Aluno 2</p>
          <p>Data: 02/12/2023</p>
          <p>Hora: 14:00</p>
          <p>Presença: Não</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
