<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Horários</title>
  <link rel="stylesheet" href="css/style.css"> 
</head>
<body>
  <div class="sidebar">
    <div class="user-info">
      
      <img src="" alt="Avatar do Usuário">
      <span>Nome do Usuário</span><br><br>
    </div>
    <ul>
      <li><a href="dashboard.html"><h2>Início</h2></a></li><br>
      <li><a href="#"><h2>Horários</h2></a></li><br>
      <li><a href="sobre.html"><h2>Sobre</h2></a></li><br>
      <li><a href="suporte.html"><h2>Suporte</h2></a></li><br>
      <li><a href="#"><h2>Histórico</h2></a></li><br>
    </ul>
  </div>
  <div class="main-content">
  <header class="header2">
    <h1>Horários</h1>
  </header>

  <table>
    <thead>
      <tr>
        <th></th>
        <th>Segunda</th>
        <th>Terça</th>
        <th>Quarta</th>
        <th>Quinta</th>
        <th>Sexta</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>8h</td>
        <td>Livre</td>
        <td></td>
        <td>Ocupado</td>
        <td></td>
        <td>Livre</td>
      </tr>
      <tr>
        <td>9h</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>10h</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>11h</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  
</body>
</html>
