{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistema de Agendamentos de Consultas</title>
  <link rel="stylesheet" type="text/css" href="{% static '/css/login.css'%}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
</head>

<body>
  <header class="header">
    <div class="logo-left">
      <img src="{% static 'imagens/logo.png' %}" alt="Logo Esquerda">
    </div>
    <h1>Sistema de Agendamentos de Consultas</h1>
  </header>

  <div class="content" class="form-floating mb-3" class="form-floating">
    <div class="login-container">
      <div class="login-box">
        <div class="login-form">
          <h3>LOGIN IFPI</h3>
          <form action="{% url 'auth' %}" method="POST">
            {% csrf_token %}
            
            <label for="usuario"> <strong> Usuário: </strong> <br></label>
            <input type="text" class="form-control" name="matricula" placeholder="matricula"></br>
            <label for="senha"> <strong> Senha: </strong> <br></label>
            <input type="password" class="form-control" id="floatingPassword" name="senha" placeholder="senha"></br>
            {{ error|safe }}
            <button type="submit" class="btn btn-success"> <a> Acessar </a></button>
        </form>
        
          <a class="esqueceu" href="#"> <strong> Esqueceu a senha? </strong></a>
        </div>
      </div>
      <div class="login-image">
        <img src="{% static 'imagens/imagemLogin.png' %}" alt="Segunda Imagem">
      </div>
    </div>
  </div>

  <footer>
    <p>Instituto Federal do Piauí</p>
  </footer>
</body>
</html>
