<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Suporte</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</head>

<body>
  <div class="main-content">
    <header class="header2">
      <h1>Suporte</h1>
    </header><br><br>

  <div class="sidebar">
    <div class="user-info">
      <img src="" alt="Avatar do Usuário">
      <span>Nome do Usuário</span><br><br>
    </div>
    <ul>
      <li><a href="dashboard.html"><h2>Início</h2></a></li><br>
      <li><a href="horarios.html"><h2>Horários</h2></a></li><br>
      <li><a href="sobre.html"><h2>Sobre</h2></a></li><br>
      <li><a href=""><h2>Suporte</h2></a></li><br>
      <li><a href="#"><h2>Histórico</h2></a></li><br>
    </ul>
  </div>
<br>
    <h2>Informações de Suporte</h2>
    <div class="department-info">
    <h5>O suporte serve para tirar dúvidas sobre o serviço.</h5>
    
    </div>
  <div class="department-info">
    <div class="about-section">
      <div class="input-box">
        <label for="assunto">Assunto:</label>
        <input type="text" id="assunto" name="assunto">
      </div>
      <div class="input-box">
        <label for="descricao">Descrição:</label>
        <textarea id="descricao" name="descricao" rows="4" cols="50"></textarea>
      </div>
      <button class="enviar-btn botao">Enviar</button>
    </div>
    
  </div>
</body>
</html>
