<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Suporte</title>
  <link rel="stylesheet" href="style.css"> <!-- Use o mesmo CSS da página "Sobre" -->
</head>
<body>
  <div class="sidebar">
    <div class="user-info">
      <img src="imagem/wp5924575-one-piece-anime-4k-wallpapers.jpg" alt="Avatar do Usuário">
      <span>Nome do Usuário</span><br><br>
    </div>
    <ul>
      <li><a href="#"><h2>Início</h2></a></li><br>
      <li><a href="horarios.html"><h2>Horários</h2></a></li><br>
      <li><a href="sobre.html"><h2>Sobre</h2></a></li><br>
      <li><a href="#"><h2>Suporte</h2></a></li><br>
      <li><a href="#"><h2>Histórico</h2></a></li><br>
      <li><a href="login.html"><h2>Sair</h2></a></li>
    </ul>
  </div>

  <div class="main-content">
  <header class="header2">
    <h1>Suporte</h1>
  </header><br>

    <div class="department-info">
      <h2>Informações de Suporte</h2>
    
    </div>
  <div class="main-content">
    <div class="about-section">
      <div class="input-box">
        <label for="assunto">Assunto:</label>
        <input type="text" id="assunto" name="assunto">
      </div>
      <div class="input-box">
        <label for="descricao">Descrição:</label>
        <textarea id="descricao" name="descricao" rows="4" cols="50"></textarea>
      </div>
      <button class="enviar-btn">Enviar</button>
    </div>
    
  </div>
</body>
</html>
